* { margin: 0; padding: 0; outline:0; }

body {
    font-size: 20px;
    line-height: 20px;
    font-family: Georgia, Arial, Helvetica, Sans-Serif;
    color: #ffffff;
    background: #333;
}

a { color: #E9967A;}

input, textarea, select { font-family: Arial, Helvetica, sans-serif; font-size: 17px; color: white; background: #333; }
textarea { overflow:auto; }

.cl { display: block; height: 0; font-size: 0; line-height: 0; text-indent: 100px; clear: both; }
.notext { font-size: 0; line-height: 0; text-indent: 50px; }

.left, .alignleft { float: left; display: inline; }
.right, .alignright { float: right; display: inline; }


.shell { background-color: black; width: 1200px; margin: 0 auto; }
.border { border: 3px solid #e8e8e8; background: #000000; position: relative; }


#navigation { height: 45px; border-bottom: 2px solid #dbdbdb; }
#navigation ul { list-style: none; }
#navigation ul li { float: left; height: 43px; font-size: 15px; line-height: 45px; text-transform: uppercase; }
#navigation ul li a { float: left; height: 43px; color: #E9967A; padding: 0 0 0 330px; }



#main { width: 800px; padding: 50px 24px 17px 24px; }
#main h3 { font-size: 30px; line-height: 30px; color: #E9967A; text-transform: uppercase; padding: 5px 50px 10px 0; }
#main a.more:hover { text-decoration: none; }

#content { width: 1000px; }

.projects { padding: 20px 0 0 30px; }
.projects h1 { color: #E9967A; margin: 5% 0;}
.projects h3 { margin: 0 0 10px 0; }
.projects .item { margin: 50px 0 20px 0; padding: 10px 0 0 0; }
.projects .image { width: 600px; height: 400px; padding: 0 0 50px; }
.projects .text { width: 800px; padding: 100px 0 50px;}
.projects .text h3 { font-size: 22px; line-height: 25px; color: #333; text-transform: uppercase; }
.projects .text p { padding: 100px 100px 5px 20px; }
.projects .ticket-url { padding: 0 200px 0 0; }

.btn-buy:hover { text-decoration: none; }

.advertisement { padding: 0 0 13px 50px; }
.advertisement h3 { margin: 0 0 60px 0; }
.advertisement .ads { padding: 0 15px 0 20px; }
.advertisement .ad { margin: 0 0 18px 0; }

#footer { font-family: Arial, sans-serif; font-size: 20px; line-height: 30px; color: #000000; }

.form-comment { padding: 50px 0 0 30px; }
.form-comment .comment-title { padding: 10px 0 10px 0; }
.form-comment .comment-name { padding: 10px 0 0 0; }
.form-comment .submit { padding: 20px 0 100px 0; }
